<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>articles</name>
            <displayName><![CDATA[Articles]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[Modul articole.]]></description>
            <author><![CDATA[Razvan Moldovan]]></author>
            <tab><![CDATA[front_office_articles]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>